.sliderContainer {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

.sliderContainer img {
    width: 100%;
    height: 560px;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 30%;
    left: 10%;
    line-height: 10px;
}

.contentTitle {
    color: white;
    font-family: 'Poppins' sans-serif;
    font-weight: 500;
    font-size: 32px;
    flex-wrap: wrap;
    line-height: 40px;
}

.contentSubTitle {
    font-weight: medium;
    color: #FFFFFF;
    opacity: 60%;
    font-size: 24px;
}

.contentDiscount {
    opacity: 100% !important;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
}

.contentDiscountText {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    margin-left: 10px;
    opacity: 60%;
}

.contentButton {
    background-color: #00B207;
    border: none;
    border-radius: 50px;
    padding: 12px 24px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.dots {
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    gap: 10px;
}
  
.dots span {
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dots .active {
    background-color: white;
}