.maincontainer {
    margin: 2% 8%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 5%;
}

h1 {
    font-weight: 500;
    margin-top: 0;
}

h3 {
    font-weight: 500;
}

.eachBox {
    display: flex;
    flex-direction: column;
}

.eachBox input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 2px solid rgb(230, 230, 230);
    margin-bottom: 0;
}

.orderSummary {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 2%;
    padding: 2% 5%;
}

.productTotal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.productName {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px
}

.productName img {
    width: 80px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.subTotalPriceContainer, .ShippingFeeContainer, .TotalPriceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.subTotalPriceContainer, .ShippingFeeContainer{
    border-bottom: 1px solid #ccc;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer button {
    background-color: rgb(0, 178, 1);
    border: none;
    color: white;
    padding: 10px 0;
    border-radius: 25px;
    flex-grow: 1;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 4%;
}

.buttonContainer button:hover {
    background-color: rgb(10, 138, 10) ;
}

@media (max-width: 769px) {
    .maincontainer {
        grid-template-columns: 1fr;
    }
    .orderSummary {
        width: 91%;
        border: none;
    }
}

@media (max-width: 480px){
    .productName img {
        display: none;
    }

    .orderSummary{
        background-color: rgb(235, 255, 233);
        width: 92%;
        border:none;
    }
}