.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 80%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
}

.productContainer {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
}
  
.sliderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 560px;
}

.sliderContainer img {
  width: 90%;
  height: 90%;
  margin: 0;
}

.dots {
  position: absolute;
  bottom: 10%;
  left: 45%;
  display: flex;
  gap: 10px;
}

.dots span {
  width: 12px;
  height: 12px;
  background-color: #999;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dots .active {
  background-color: rgb(0, 178, 7);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  color: rgb(0, 178, 7);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 30px;
}

.productContainer h2{
  margin: 0px;
  font-size: 30px;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.originalPrice {
  text-decoration: line-through;
  color: gray;
  font-size: 0.9rem;
}

.discountedPrice {
  color: rgb(0, 178, 1);
  font-size: 1rem;
  font-weight: 400;
}

.saleTag {
  color: white;
  background-color: red;
  position: absolute;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  top: 20px;
  left: 20px;
}

.rating {
  display: flex;
  flex-direction: row;
}

.star {
  fill: #FACC15;
  width: 14px;
  height: auto;
}

.nullstar {
  fill: #D1D5DB;
  width: 14px;
  height: auto;
}

.rating span {
  margin-left: 10px;
  color: rgb(102,102,102);
  font-size: 14px;
}

.price {
  margin-top: 4px;
  padding-bottom: 14px;
  border-bottom: 2px solid #E6E6E6;
  font-size: 18px;
}

.priceValue {
  color: #2C742F;
}

.description {
  color: gray;
  padding-bottom: 14px;
  border-bottom: 2px solid #E6E6E6;
  text-align: justify;
  height: 300px;
}

.quantitycomponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.quantitycontainer {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 40px;
  padding: 10px 4px;
  border: 1px solid #eee;
  width: fit-content;
}

.minusbutton, .addbutton {
  background: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
  transition: background 0.2s ease;
}

.addtocartbutton {
  border-radius: 40px;
  padding: 5px 15px;
  border: none;
  background-color: #00B207;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

.addtocartbutton:hover {
  background-color: #2C742F;
}

.favoriteButton {
  width: 60px;
  height: 60px;
  border: none;
  padding: 15px;
  border-radius: 99px;
  background-color: rgba(32, 181, 38, 0.1);
  cursor: pointer;
  transition: background 0.2s ease;
}

.favoriteButton:hover {
  background-color: #ebf3eb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inlineWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inlineBox {
  padding: 24px;
  border-radius: 12px;
  width: 80%;
  position: relative;
}

@media screen and (max-width: 1212px) and (min-width: 481px) {
  .modal {
    width: 80%;
    height: 70%;
    overflow-y: scroll;
  }

  .sliderContainer {
    align-items: center;
  }

  .sliderContainer img {
      height: 80%;
      width: 60%;
  }

  .dots {
    left: 45%;
    bottom: 5%;
  }

  .productContainer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    width: 80%;
    height: 80%;
    overflow-y: scroll;
  }

  .sliderContainer img {
    width: 100%;
    height: 60%;
  }

  .rightContainer {
    margin-left: 10px;
    margin-right: 10px !important;
  }

  .dots {
    left: 40%;
    bottom: 5%;
  }

  .productContainer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }

  .description {
    height: 300px;
    overflow-y: scroll;
  }
}


