.BigWrapper{
    display: flex;
    height: 100vh; /* h-screen */
    background-color: white; /* bg-gray-900 */
    color: #f3f4f6; /* text-gray-100 */
    overflow: hidden;
    position: relative; 
}
.Wrapper{
    overflow: auto; 
    position: relative; 
    z-index: 10; 
    flex: 1 1 0%; 
}
.main {
    max-width: 80rem; /* max-w-7xl */
    margin-left: auto;
    margin-right: auto; 
    padding-top: 1.5rem; /* py-6 */
    padding-bottom: 1.5rem;
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem;
}
.statsGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.25rem; /* gap-5 */
    margin-bottom: 2rem; /* mb-8 */
}
@media (min-width: 640px) {
    .statsGrid {
      grid-template-columns: repeat(2, minmax(0, 1fr)); /* sm:grid-cols-2 */
    }
}
@media (min-width: 1024px) {
    .main {
      padding-left: 2rem; /* lg:px-8 */
      padding-right: 2rem;
    }
    .statsGrid {
        grid-template-columns: repeat(4, minmax(0, 1fr)); /* lg:grid-cols-4 */
    }
}
  
