.BigWrapper{
  display: flex;
  height: 100vh; /* h-screen */
  background-color: white; /* bg-gray-900 */
  color: #f3f4f6; /* text-gray-100 */
  overflow: hidden;
  position: relative; 
}
.Wrapper{
  overflow: auto; 
  position: relative; 
  z-index: 10; 
  flex: 1 1 0%; 
}
.main {
  max-width: 80rem; /* max-w-7xl */
  margin-left: auto;
  margin-right: auto; /* mx-auto */
  padding-top: 1.5rem; /* py-6 */
  padding-bottom: 1.5rem;
  padding-left: 0.5rem; /* px-4 */
  padding-right: 0.5rem;
}

.card {
  background-color: #e8f4e8;
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-top: 25px;
}

.SearchBigContainer {
   display: flex;
   justify-content: end;
}

.SearchContainer {
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.searchInput {
  background-color: white;
  width: 200px;
  color: #374151;
  border: none;
  outline: none;
}

.searchInput::placeholder {
  color: #9ca3af;
}

.searchInput:focus {
  box-shadow: 0 0 0 2px #2C742F;
}

.searchIcon {
  color: #9ca3af;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #f3f4f6;
  margin-top: 15px;
}

.th {
  text-align: left;
  padding: 0.75rem 1.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #2C742F;
  text-transform: uppercase;
  border-bottom: 1px solid #374151;
}

.td {
  text-align: left;
  padding: 1rem 1.5rem;
  white-space: nowrap;
  font-size: 0.875rem;
  color: black;
}

.viewButton {
  background-color: transparent;
  border: none;
  margin-left: 25px;
}

.viewButton {
  color: blue;
}

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin-top: 15px;
}

.statusContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}