
.AboutUs{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-inline: 200px;
    align-items: center;
    gap: 40px
}
.Image img {
    width: 100%;
}
.Text {
    width: 607px;
}
.BoldText{
    font-size: 35px;
    font-weight: 600;
}
.SmallText{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}
.AboutMe{
    background: linear-gradient(269deg, #FFF 18.88%, rgba(255, 255, 255, 0.00) 86.37%), url('img/About-me-BG.png') lightgray 50% / cover no-repeat;
    width: 600px;
    height: 350px;
    margin-top: 50px;
}
.AboutMe img{
    width: 63.5%;
    margin-left: 110px;
}
