.main_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 5%;
}

.product_align {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.product, .product_chosen {
    flex: 1 1 calc(33.33% - 24px); 
    display: flex;
    flex-direction: column;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.product_out_of_stock {
    position: absolute;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 15px;
}

.product_on_sale{
    position: absolute;
    background-color: rgb(234, 75, 72);
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 15px;
}

.product_price {
    display: flex;
    gap: 8px;
}

.price_before_sale {
    color: gray;
    text-decoration: line-through;
}

.product:hover {
    box-shadow: 0 0px 24px #d0cfcf; 
}

.product_chosen {
    border: 1px solid #2C742F;
}
.product_chosen:hover {
    box-shadow: 0 0px 24px #20B526; 
  }

.product_description {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.product_title {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.star-yellow {
    color: #FF8A00;
}

.star-gray {
    color: #CCCCCC;
}

.ri-shopping-bag-line {
    background-color: #F2F2F2;
    border-radius: 100px;
    font-size: 28px;
    margin-left: auto;
    margin-right: 10px;
    padding: 14px;
    transition: box-shadow 0.3s ease;
}

.ri-shopping-bag-line:hover {
    box-shadow: 0 0px 10px #20B526; 
}

.bag_chosen {
    background-color: #00B207;
    color: white;
}

.product_chosen_title {
    color: #00B207;
}

@media (max-width: 769px) {
    .product, .product_chosen {
        flex: 1 1 calc(50% - 24px);
    }
    .filter_field span {
       display: none;
    }
}

@media (max-width: 480px) {
    .product, .product_chosen {
        flex: 1 1 100%;
    }

    .filter_field {
        display: none;
    }
}