.rate_field {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 10px;
  }
  
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  input[type="checkbox"]:checked {
    background-color: #20B526;
    border-color: #20B526;
    appearance: none;
  }
  
  .star-yellow {
    color: #facc15; 
  }
  
  .star-gray {
    color: #d1d5db; 
  }
  