.section_title{
    font-weight: 500;
    font-size: 24px;
    margin-top: 2rem;
}
.comment_box{
    display: flex;
    flex-direction: column;
}
.post_button{
    padding: 14px 30px;
    background: #00B207;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 43px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.post_button:hover {
    background: #2C742F; 
}

textarea {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
}