.Wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.Text {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
.RightCol img{
    width: 30rem;
    flex-shrink: 0;
    box-shadow: none;
}
.accordion {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}
  
.accordionItem {
    border-radius: 6px;
    overflow: hidden;
    background-color: #f3f4f6;
    padding: 16px;
}
  
.active {
    border: 1px solid #34d399;
    background-color: white;
}
  
.accordionHeader {
    width: 100%;
    background-color: inherit;
    border: none;
    /* padding: 12px 16px; */
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
  
.active .accordionHeader {
    color: #059669;
}
  
.accordionBody {
    width: 600px;
    /* padding: 0 16px 16px 16px; */
    color: #4b5563;
    font-size: 15px;
    line-height: 1.6;
}
  
.title {
    flex: 1;
}
  
.icon {
    font-size: 20px;
    color: #888;
}
  