.Wrapper{
    height: 100%;
    width: 100%;
    font-family: Pop;
}
.AboutUs{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding-inline: 200px;
    align-items: center;
    gap: 40px
}
.AboutUs img {
    width: 30rem;
}
.Text {
    width: 607px;
}
.BoldText{
    font-size: 35px;
    line-height: 120%;
    font-weight: 600;
}
.SmallText{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: var(--Gray-Scale-Gray-600, #666);
}
.AboutMeWrap{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.AboutMe{
    background: linear-gradient(269deg, #FFF 18.88%, rgba(255, 255, 255, 0.00) 86.37%), url('src/assets/images/About-me-BG.png') lightgray 50% / cover no-repeat;
    width: 900px;
    height: 350px;
}
.AboutMe img{
    width: 23.8rem;
    margin-left: 25%;
}
.TextAndIconWrap{
    width: 100%;
    position: absolute;
    left: 50%;
}
.TextAndIconWrap .Text{
    margin-top: 20px;
    width: 23rem;
}
.TextAndIconWrap .SmallText{
    font-size: 10px;
    margin-top: 5px;
    color: var(--Gray-Scale-Gray-500, #808080);
    line-height: 150%;
}
.FullIconWrap{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.IAndT{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}
.icon{
    background-color: rgba(0, 178, 7, 0.10);
    font-size: 25px;
    width: 40px;
    height: 40px;
    border-radius: 5000px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00B207;
}
.IconText{
    align-self: center;
    justify-self: center;
}
.IconHeadText{
    font-size: 12px;
    font-weight: 500;
}
.IconContentText{
    font-size: 8px;
    color: var(--Gray-Scale-Gray-500, #808080);
}
.DeliveryWrap{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding-left: 250px;
    position: relative;
    height: 300px;
}
.DeliveryWrap img{
    width: 30rem;
    position: absolute;
    left: 50%;
    top: -24px;
}
.DeText{
    justify-self: center;
    align-self: center;
}
.DeText .BoldText{
    width: 300px;
    font-size: 28px;
}
.DeText .SmallText{
    font-size: 10px;
    width: 330px;
    line-height: 150%;
}
.CheckEle{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 5px;
}
.CheckEle .icon{
    color: #2C742F;
    width: 15px;
    height: 15px;
    font-size: 8px;
}
.CheckEle .SmallText{
    margin-top: 0px;
    font-size: 8px;
    align-self: center;
}
.Button{
    margin-top: 10px;
    background-color: var(--Branding-Success, #00B207);
    border-radius: 43px;
    padding: 8px 20px;
    display: inline-flex;
    font-size: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
}
.Teams{
    padding: 50px;
    background: linear-gradient(180deg, #F2F2F2 0%, #FFF 100%);
}
.Teams .BoldText{
    text-align: center;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
}
.Teams .SmallText{
    color: var(--Gray-Scale-Gray-600, #666);
    text-align: center;
    font-weight: 400;
    line-height: 150%; /* 24px */
}