.single_post_page {
    display: grid;
    grid-template-columns: 70% 1fr; /* Sidebar + content */
    gap: 2rem;
    max-width: 1320px;
    margin: 0 auto;
    padding: 2rem;
    align-items: start;
}

.post_featured_img{
    width: 100%;
    height: 50%;
    max-height: 600px;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.post_title{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.post_meta_row {
    margin-bottom: 1.5rem;
  }
  
  .post_author {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .post_author_avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .post_author_text {
    display: flex;
    flex-direction: column;
  }
  
  .post_author_name {
    font-weight: 500;
    font-size: 16px;
  }
  
  .post_author_meta {
    font-size: 14px;
    color: #808080;
  }
  
.post_content{
    font-size: 18px;
    font-weight: 400;
    color: #808080;
}
