.customerfb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customerfb h3 {
    display: inline;
    border-bottom: 3px solid rgb(0, 178, 7);
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

.productFirstRowContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    margin: 2% 10%;
    margin-bottom: 5%;
}