
/* subcribe */
.container {
    width: 100%;
    text-align: center;
}

.newsletter_container { 
    display: flex;
    background-color: #F7F7F7;
    padding: 30px 5%;
}

.newsletter_text {
    text-align: left;
    width: 400px;
}
.newsletter_text .title {
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.newsletter_text .description {
    color: #999999;
    font-size: 14px;
    margin: 10px 0;
}
.newsletter_form {
    width: 500px;
    margin: auto;
    display: flex;
    background: white;
    border-radius: 46px;
    border: 1px solid #E6E6E6;
    overflow: hidden;
}

.newsletter_input {
    flex: 1;
    min-width: 0;
    padding: 14px 24px;
    color: #808080;
    font-size: 16px;
    border: none;
    line-height: 24px;
    outline: none;
}

.subscribe_button {
    padding: 14px 30px;
    background: #00B207;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 43px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.newsletter_input::placeholder {
    color: #aaa; 
}

.subscribe_button:hover {
    background: #2C742F; 
}

.social_icons {
    display: flex;
    gap: 10px;
    margin: auto;
}

.social_icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: gray;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.facebook:hover { background: #00B207; color: white; }
.twitter:hover { background: #1DA1F2; color: white; }
.pinterest:hover { background: red; color: white; }
.instagram:hover { background: #E1306C; color: white; }

/* footer */
.footer {
    background: #111;
    color: white;
    font-size: 14px;
}

.footer_container {
    padding: 60px 5%;
    display: flex;
    justify-content: space-between;
}

.footer_column {
    margin-bottom: 20px;
    text-align: left;
}

.footer_column h4 {
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
}

.footer_text {
    color: #999999;
    line-height: 1.6;
    font-size: 14px;
    max-width: 300px;
}
.contact_info {
    display: flex;
    color: #999999;
    gap: 15px;
}
.contact {
    color: white; 
    text-decoration: none;
    position: relative; 
    display: inline-block; 
    padding-bottom: 5px; 
    font-weight: 500;
    border-bottom: 2px solid #00B207; 
}
.footer_links {
    list-style: none;
    padding: 0;
}

.footer_links li {
    margin-bottom: 8px;
}

.footer_links a {
    text-decoration: none;
    color: #999999;
    transition: color 0.3s ease;
}

.footer_links a:hover {
    color: white;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #222;
    margin: 0 160px;
    font-size: 13px;
    color: #808080;
}

.footer_payment {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer_payment img {
    height: 30px; 
    cursor: pointer;
}


/* ipad */
@media (max-width: 769px) {
    .newsletter_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    
    .social_icons {
        padding: 15px;
    }
    .newsletter_text{
        width: auto;
        padding: 30px;
        padding-bottom: 0;
    }
    .footer_bottom {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 0 5%;
    }
}
/* phone */
@media (max-width: 480px) {
    .footer_container{ 
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_column{
        text-align: center;
    }
    .footer_container .footer-column:nth-child(n+2) {
        display: none;
    }
    .logo, .contact_info{
        justify-content: center;
    }
    .newsletter_form{
        width: 300px;
    }
}