.productTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productTitle {
    color: rgb(0, 178, 7);
    margin-bottom: 5px;
}

.productSubTitle {
    font-weight: 600;
    font-size: 30px;
    margin-top: 0;
    text-align: center;
}

.productFirstRowContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    column-gap: 25px;
    margin: 0px 5%;
}

.promoBanner img {
    width: 248px;
    height: auto;
}

.promoBannerTextContainer {
    position: absolute;
    top: 0;
    left: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.promoBannerTitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.promoBannerDiscount {
    font-size: 32px;
    margin-top: 0;
    font-weight: 500;
    color: rgb(0, 178, 7);
    margin-bottom: 0;
}

.promoBannerButton {
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 15px;
    color: rgb(0, 178, 7);
    font-weight: 500;
    cursor: pointer;
}