.productTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productTitle {
    color: rgb(0, 178, 7);
    margin-bottom: 5px;
}

.productSubTitle {
    font-weight: 600;
    font-size: 30px;
    margin-top: 0;
    text-align: center;
}

.productFirstRowContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    margin: 0px 5%;
    margin-bottom: 5%;
}

@media (max-width: 1500px) {
    .productFirstRowContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 880px) {
    .productFirstRowContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .productFirstRowContainer {
        grid-template-columns: 1fr;
    }
}