.card {
    background-color:#e8f4e8; /* bg-gray-800 + bg-opacity-50 */
    backdrop-filter: blur(12px); /* backdrop-blur-md */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); /* shadow-lg */
    border-radius: 0.75rem; /* rounded-xl */
    padding: 1.5rem; /* p-6 */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
.title {
    font-size: 1.125rem; /* text-lg */
    font-weight: 500; /* font-medium */
    margin-bottom: 1rem; /* mb-4 */
    color: #2C742F; /* text-gray-100 */
}
  
.chartWrapper {
    height: 20rem; /* h-80 */
}
  