.pagination {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 10px;
  }
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: #00B207;
    color: white;
    border-radius: 100px;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}